.singlepost {
  max-width: 500px;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  &__comment {
    padding: 10px 20px;
  }
  &__header__img {
    img {
      max-width: 500px;
      object-fit: cover;
    }
  }
}
