.comment-with-avatar {
  margin: 20px 0;
  margin-left: 10px;
  display: flex;
  align-items: flex-start;
  align-content: center;
  .comentarios-with-avatar {
    margin-left: 10px;
  }
  .fecha-comentario {
    font-size: 0.7em;
    font-weight: lighter;
    margin: 0;
    margin-top: 5px;
  }
}
